.Home-Component {
  background: #b2fefa;
  background: -webkit-linear-gradient(to right, #0ed2f7, #b2fefa);
  background: linear-gradient(to right, #0ed2f7, #b2fefa);
  margin-top: -5.2%;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding: 20px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: absolute;
}

#Rounded {
  border-radius: 20px;
  color: rgb(80, 80, 80);
  background: rgb(255, 255, 255);

  width: 100%;
  height: auto;

  margin-top:45%;
  padding: 20px;

  -webkit-box-shadow: 1px 2px 21px -3px rgba(0, 0, 0, 0.26);
  box-shadow: 1px 2px 21px -3px rgba(0, 0, 0, 0.26);
}

.City-BG {
  width: 100%;
  padding-top: 20px;
}

.Add-City {
  width: 100px;
  height: auto;
}

.Add-City:hover {
  transform: scale(1.2);
}

.Add-City-Container {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin-top:6%;
  position: relative;
  text-align: center;

  -webkit-box-shadow: 1px 2px 21px -3px rgba(0, 0, 0, 0.26);
  box-shadow: 1px 2px 21px -3px rgba(0, 0, 0, 0.26);
}

.Search-Bar {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgb(255, 255, 255);
  border: none;
  border-radius: 20px;
  font-size: 15px;
  margin: 1%;
  outline: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 40%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #ffffff;
  color: #5c5c5c;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 18px 0px rgba(95, 95, 95, 0.2);
  margin-bottom: 30px;
}

.Search-Button {
  background-color: rgb(128, 255, 159);
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  z-index: 1;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 18px 0px rgba(95, 95, 95, 0.2);
}
.Search-Button:hover {
  background-color: rgb(0, 255, 170);
}

.Weather-Card {
  border-radius: 20px;
  color: rgb(0, 0, 0);
  background: #B2FEFA;
  background: -webkit-linear-gradient(to top, rgb(106, 226, 250), #B2FEFA);
  background: linear-gradient(to top, rgb(121, 210, 252), rgb(255, 206, 243));
  

  width: 60%;
  height: auto;

  padding: 20px;

  -webkit-box-shadow: 1px 0px 10px -3px rgba(0, 0, 0, 0.26);
  box-shadow: 1px 0px 10px -3px rgba(42, 41, 49, 0.5);
}
